.taxes-title > div > div h1 {
    font-family: lato;
    font-size: 38px;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
}

.taxes-title > div > div h1::after {
    content: '';
    display: block;
    width: 5%; /* Set the width of the border */
    height: 7px; /* Set the height of the border */
    background-color: #AF3C43; /* Set the color of the border */

}

.taxes-title > div > div p {
    font-family: noto;
    font-size: 20px;
    width: 585px;
}