.government-cards

 > div {
    display: flex;
}

.government-cards

 > div > div {
    width: 400px;
    margin-right: 30px;
}

.government-cards

 > div > div a {
    font-family: lato;
    font-size: 20px;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 700;
    color: black;
    text-decoration: underline;
}

.government-cards

 > div > div a:hover {
    color: blue;
}

.government-cards

 > div > div p {
    color: black;
    font-family: noto;
    font-size: 17px;
}
